@mixin respond($breakpoint){
@if($breakpoint == 350){
 @media (max-width: 1300px) {
    @content;
 }
}@else if($breakpoint == 450){
@media (min-width: 371px) and (max-width: 1300px) {
@content;
}
}@else if($breakpoint == 650){
    @media (min-width: 577px) and (max-width: 1300px) {
@content;
}
}@else if($breakpoint == 850){
    @media (min-width: 769px) and (max-width: 1300px) {
@content;
}
}@else if($breakpoint == 1050){
    @media (min-width: 992px) and (max-width: 1300px) {
@content;
}
}@else if($breakpoint == 1050){
@media (min-width: 1181px) and (max-width: 1300px) {
    @content;

}
}
}
/*                display: block;
                width: 0%;
                height: 2px;
                background-color: $secondColor;
transform: translateY(35px);
transition-duration: .5s; */
@mixin createEle($w:100%, $h:auto){
    content: "";
                   display: block;
                width: $w;
                height: $h;
}
@mixin position($z:initial,$p :absolute, $t:initial, $b:initial,  $r:initial ,  $l:initial){
    position: $p;
    top: $t;
    right: $r;
    left: $l;
    bottom: $b;
    z-index: $z;
}
@mixin flex($jc:center, $ai:center, $dir:column){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
}
@mixin distance($w :100%, $h:auto){
    width: $w;
    height: $h;
    
}
@mixin bg($url, $p: center, $r: no-repeat, $s: cover) {
    background-image: url(#{$url});
    background-position: $p;
    background-repeat: $r;
    background-size: $s;
}